{{> header.handlebars}}
<main role="main" class="expand">
    <div class="container">
        <form action="/standings" method="post">
            <div class="form-row my-5">
                <div class="col-lg-6">
                    <label for="select-league">View the standings for different leagues</label>
                    <select id="select-league" name="league-id" class="form-control form-control-lg">
                        <option >Select League</option>
                        {{#each league}}
                            <option value="{{leagueId}}">{{leagueName}}</option>
                        {{/each}}
                    </select>
                </div>
                <button class="btn btn-success btn-sm" type="submit">View Standings</button>
            </div>
        </form>
        <h1 class="my-5">{{leagueName}} Standings</h1>
        <div class="card my-5">
            <table class="table bg-white">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Pos</th>
                    <th scope="col">Club</th>
                    <th scope="col">MP</th>
                    <th scope="col">W</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">GF</th>
                    <th scope="col">GA</th>
                    <th scope="col">GD</th>
                    <th scope="col">Pts</th>
                </tr>
                </thead>
                <tbody>
                {{#each tableRows}}
                    <tr>
                        <td>{{pos}}</td>
                        <td>{{club}}</td>
                        <td>{{played}}</td>
                        <td>{{wins}}</td>
                        <td>{{draws}}</td>
                        <td>{{losses}}</td>
                        <td>{{goalsFor}}</td>
                        <td>{{goalsAgainst}}</td>
                        <td>{{goalDifference}}</td>
                        <td>{{points}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

        </div>

        <form action="/clear/league" method="post">
            <div class="form-row my-5">
                <div class="col-lg-6">
                    <label for="select-league">Clear Standings for </label>
                    <select id="select-league" name="league-id" class="form-control form-control-lg">
                        <option >Select League</option>
                        {{#each league}}
                            <option value="{{leagueId}}">{{leagueName}}</option>
                        {{/each}}
                    </select>
                </div>
                <button class="btn btn-success btn-sm" type="submit">Clear</button>
            </div>
        </form>
    </div>
</main>
{{> footer.handlebars}}